/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
}

/* Hero Section Customization */
.hero-section {
  background-image: url("./bg4.jpeg");
  margin-top: 4rem; /* Adjust for sticky header spacing */
}

.hero-section1 {
  background-image: url("./bg5.webp");
  margin-top: 4rem; /* Adjust for sticky header spacing */
  background-size: 50%;
  background-size: cover; /* Zoom in by increasing the size */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  animation: fadeIn 2s ease;
}
.hero-section2 {
  background-image: url("./bg6.jpeg");
  background-size: cover; /* Ensures the image covers the section */
  background-position: center center; /* Keeps the image centered */
  background-repeat: no-repeat; /* Ensures no repeating of the image */
  margin-top: 4rem; /* Adjust for sticky header spacing */
  height: 70vh; /* Adjust this value to control the vertical size of the image */
  animation: fadeIn 2s ease;
}

/* Optional: Custom Styling for Buttons */
/* button {
  transition: background-color 0.3s ease;
} */

/* Parallax Background Effect */
.hero-section {
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  animation: fadeIn 2s ease;
}

/* 3D Button Hover Effect */
.button-3d {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}
.button-3d:hover {
  transform: translateZ(10px);
}

/* Parallax Section for Images
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.parallax img {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
.parallax img:hover {
  opacity: 1;
} */

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
} */
